n8n form 4.json
{
  "name": "n8n form 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        0
      ],
      "id": "e6f1d62e-65c8-49c2-81f2-408cb212589b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oy7KNvuXBPT0PK8P_QxSCq8Hl2fdN00-KlygbDm50Vg",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oy7KNvuXBPT0PK8P_QxSCq8Hl2fdN00-KlygbDm50Vg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 199384662,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oy7KNvuXBPT0PK8P_QxSCq8Hl2fdN00-KlygbDm50Vg/edit#gid=199384662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        0
      ],
      "id": "ff26c5f3-4017-41bb-8010-bc9e299926da",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "csHtInEhfYoqRzKF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// Set zona waktu Jakarta\nconst now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // PERBAIKAN DISINI: Gunakan nama kolom persis seperti di Google Sheet\n  const dateStr = row['Scheduled Date'];\n  const timeStr = row['Scheduled Time'];\n\n  // Pastikan kolom terisi dan status Pending\n  if (row.Status === 'Pending' && dateStr && timeStr) {\n    \n    // Gabungkan Tanggal dan Waktu\n    // Format ISO: \"2026-02-09T9:30:00\"\n    const dateTimeString = `${dateStr}T${timeStr}`;\n    \n    // Parse waktu\n    const scheduledTime = DateTime.fromISO(dateTimeString, { zone: 'Asia/Jakarta' });\n\n    // Cek validitas waktu & apakah sudah waktunya post\n    if (scheduledTime.isValid && scheduledTime <= now) {\n      postsToSend.push(item);\n    }\n  }\n}\n\nreturn postsToSend;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "549111c4-b1f9-495e-a6ac-4209109375bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1662819562",
        "text": "= {{ $json.Content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        0
      ],
      "id": "689ad90b-4827-449a-9e99-e579bb97ce31",
      "name": "Send a text message",
      "webhookId": "a0e50907-95ef-4d54-9c84-b55092606de5",
      "credentials": {
        "telegramApi": {
          "id": "0f6GYKEaZsgzFUPw",
          "name": "BOTUNIVERSAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca9fbf1b-9e0d-4335-8b1b-92fb0cd74038",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "ce907e58-4b60-4996-ad3e-e208faff1f17",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y_G3NAAhuyCwkbalEmTFcZifMNCFfKI8AjSfseYaFzk",
          "mode": "list",
          "cachedResultName": "Auto Posting Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y_G3NAAhuyCwkbalEmTFcZifMNCFfKI8AjSfseYaFzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 578878596,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y_G3NAAhuyCwkbalEmTFcZifMNCFfKI8AjSfseYaFzk/edit#gid=578878596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number + 1 }}",
            "ID": "={{ $json.row_number }}",
            "Status": "Published",
            "Scheduled Date": "={{ $('Get row(s) in sheet').item.json['Scheduled Date'] }}",
            "Scheduled Time": "={{ $('Get row(s) in sheet').item.json['Scheduled Time'] }}",
            "Content": "={{ $('Get row(s) in sheet').item.json.Content }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        0
      ],
      "id": "d2be2448-866b-4a4a-a78f-66be8d65eef3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "csHtInEhfYoqRzKF",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a7e2248d-20a9-43e2-9fb4-d68252265dbb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52b60b145238cd1a6c409cc4997107536072d56a857dcdbe087a6380d274abbd"
  },
  "id": "VI5zL2N8aepxRbav",
  "tags": []
}